.editor-canvas {
  background-color: darkslategray;
}
.function-block {
  fill: #3498DB;
  stroke-width: 4;
  stroke: #5DADE2;
}
.function-block-dragging {
  fill: #3498DB;
  stroke-width: 4;
  stroke: #5DADE2;
}
.function-text {
  fill: #D6E2FE;
}
.shadow-block {
  fill:SkyBlue;
}
.shadow-block-leave {
  fill:SkyBlue;
}
