
.teak-code {
  font-size:12px;
  font-family:"Monaco";
  width:24%;
  height: 600px;
  float:right;
  border: none;
}
.editor-canvas {
  width:75%;
  height: 600px;
  float:left;
  background-color: white;
  -ms-touch-action: none;
      touch-action: none;
  /* prevent text from being selected browser style */
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.function-block {
  x:0px;
  y:0px;
  fill: blue;
  transition: fill 0.3s ease;
  rx: 10px;
  ry: 10px;
  width: 80px;
  height: 80px;
  stroke-width: 2;
  stroke: Navy;
}
.function-block-dragging {
  x:0px;
  y:0px;
  fill: blue;
  transition: fill 0.3s ease;
  rx: 10px;
  ry: 10px;
  width: 80px;
  height: 80px;
/*  filter: url(#dropshadow); */
  stroke-width: 2;
  stroke: Navy;
}
.function-text {
  width: 80px;
  height: 80px;
  font-size:22px;
  font-weight: bold;
  fill: white;
  font-family:"helvetica";
  pointer-events: none;
  stroke-width: 0;
}
@keyframes shadowFadeIn {
    from{opacity:0.0;}
    to{opacity:0.3;}
}
.shadow-block {
  rx:10px;
  ry:10px;
  width:80px;
  height:80px;
  opacity:0.3;
  fill:SkyBlue;
  animation: shadowFadeIn 0.35s ease;
}
@keyframes shadowFadeOut {
    from{opacity:0.3;}
    to{opacity:0.0;}
}
.shadow-block-leave {
  rx:10px;
  ry:10px;
  width:80px;
  height:80px;
  opacity:0.0;
  fill:SkyBlue;
  animation: shadowFadeOut 0.35s ease;
}
body { margin: 0; }
