
node_modules/*
html_app/platforms/*
html_app/plugins/*
html_app/www/font-awesome/*

html_app/npm-debug.log

npm-debug.log

html_app/www/bundled_tbe.js

html_app/www/backups/drop.m4a

html_app/www/backups/poof.m4a

html_app/www/backups/short-click.m4a
