
*.DS_Store
.DS_Store

node_modules/*
html_app/platforms/*
html_app/plugins/*
html_app/node_modules/*
html_app/www/font-awesome/*
html_app/npm-debug.log
html_app/www/bundled_tbe.js

npm-debug.log

html_app/res/mipmap-mdpi/icon.png

*.keystore

html_app/.DS_Store

html_app/.DS_Store

html_app/www/style.css

docs/*
doc/*

html_app/www/.style.css-a60e4e04
