.editor-canvas {
  background-color: white;
}
.function-block {
/*  fill: #0066FF; */
  fill: #795548;
  stroke-width: 4;
  stroke: #873600;
}
.function-block-dragging {
  fill: #795548;
  stroke-width: 4;
  stroke: #4E342E;
}
.function-text {
  fill: #D6E2FE;
}
.flow-path {
  stroke: #873600;
}
.shadow-block {
  fill:SkyBlue;
}
.shadow-block-leave {
  fill:SkyBlue;
}
