html, body { margin:0; padding:0; overflow:hidden }
/* http://htmlcolorcodes.com/color-picker/ */
/* this is a helpful site */

.teak-code {
  position: absolute;
  top:0;
  left:75%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
/*  opacity: 0.6; */
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.teak-log {
  position: absolute;
  top:0;
  left:50%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
/*  opacity: 0.6; */
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.editor-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  -ms-touch-action: none;
      touch-action: none;
  /* prevent text from being selected browser style */
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.branch-path {
  x:0px;
  y:0px;
  fill: green;
  transition: fill 0.3s ease;
  rx: 10px;
  ry: 10px;
  stroke-width: 2;
  stroke: lightgreen;
}
.dropArea{
  x:0px;
  y:0px;
  fill: #F5B041;
  stroke: black;
  rx: 5px;
  ry: 5px;
  width: 180px;
  height: 1024px;
  stroke-width:0;
}
.tab-block{
  x:0px;
  y:0px;
  fill: #F5B041 ;
  stroke: #1B5E20;
  rx: 10px;
  ry: 10px;
  width: 40px;
  height: 40px;
  stroke-width:2;
  z-index: 500;
}
.tab-text{
  width: 40px;
  height: 40px;
  font-size:30px;
  fill: black;
  font-family:"helvetica";
  pointer-events: none;
  z-index: 501;
}
.function-block {
  x:0px;
  y:0px;
  fill: #3372FF;
  transition: fill 0.3s ease;
  rx: 10px;
  ry: 10px;
  width: 80px;
  height: 80px;
  stroke-width: 4;
  stroke: #5A33FF;
}
.function-block-dragging {
  x:0px;
  y:0px;
  fill: green;
  transition: fill 0.3s ease;
  rx: 10px;
  ry: 10px;
  width: 80px;
  height: 80px;
/*  filter: url(#dropshadow); */
  stroke-width: 4;
  stroke: #5A33FF;
}
.function-text {
  width: 80px;
  height: 80px;
  font-size:22px;
  font-weight: bold;
  fill: #D6E2FE;
  font-family:"helvetica";
  pointer-events: none;
  stroke-width: 0;
}
@keyframes shadowFadeIn {
    from{opacity:0.0;}
    to{opacity:0.3;}
}
.shadow-block {
  rx:10px;
  ry:10px;
  width:80px;
  height:80px;
  opacity:0.3;
  fill:SkyBlue;
  animation: shadowFadeIn 0.35s ease;
}
@keyframes shadowFadeOut {
    from{opacity:0.3;}
    to{opacity:0.0;}
}
.shadow-block-leave {
  rx:10px;
  ry:10px;
  width:80px;
  height:80px;
  opacity:0.0;
  fill:SkyBlue;
  animation: shadowFadeOut 0.35s ease;
}
body { margin: 0; }
