html, body { margin:0; padding:0; overflow:hidden }
.teak-code {
  position: absolute;
  top:0;
  left:75%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.teak-log {
  position: absolute;
  top:0;
  left:50%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
/*  opacity: 0.6; */
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.editor-background {
  fill: #9575CD;
}
.editor-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  -ms-touch-action: none;
  touch-action: none;
  /* prevent text from being selected browser style */
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.branch-path {
  fill: green;
  transition: fill 0.3s ease;
  stroke-width: 2;
  stroke: lightgreen;
}
.dropArea{
  /* drop area will be moved to bottom, match width of screen */
  fill: #F5B041;
  stroke-width:0;
  stroke: none;
}
.tab-block{
  fill: #F5B041 ;
  stroke: #1B5E20;
  stroke-width:2;
  z-index: 500;
}
.tab-text{
  width: 40px;
  height: 25px;
  font-size:24px;
  fill: black;
  font-family:"helvetica";
  pointer-events: none;
  z-index: 501;
}
.function-block {
  fill: #3372FF;
/*  transition: fill 0.3s ease; */
  stroke-width: 4;
  stroke: #5A33FF;
}
.function-block-dragging {
  fill: green;
/*  transition: fill 0.3s ease;     */
/*  filter: url(#dropshadow); */
  stroke-width: 4;
  stroke: #5A33FF;
}
.function-text {
  width: 80px;
  height: 80px;
  font-size:22px;
  font-weight: bold;
  fill: #D6E2FE;
  font-family:"helvetica";
  pointer-events: none;
  stroke-width: 0;
}
@keyframes shadowFadeIn {
    from{opacity:0.0;}
    to{opacity:0.3;}
}
.shadow-block {
  opacity:0.3;
  fill:SkyBlue;
  animation: shadowFadeIn 0.35s ease;
}
@keyframes shadowFadeOut {
    from{opacity:0.3;}
    to{opacity:0.0;}
}
.shadow-block-leave {
  opacity:0.0;
  fill:SkyBlue;
  animation: shadowFadeOut 0.35s ease;
}
button {
  touch-action: none; /* prevents any screen bounce on android */
}
textarea {
  touch-action: none; /* prevents any screen bounce on android */
}
body { margin: 0; }
