html, body { margin:0; padding:0; overflow:hidden }
.teak-code {
  position: absolute;
  top:0;
  left:75%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.teak-log {
  position: absolute;
  top:0;
  left:50%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
/*  opacity: 0.6; */
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.editor-background {
  fill:#FFF8E1;
  /*fill: #9575CD; */
}
.editor-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  -ms-touch-action: none;
  touch-action: none;
  /* prevent text from being selected browser style */
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.branch-path {
  fill: green;
  transition: fill 0.3s ease;
  stroke-width: 2;
  stroke: lightgreen;
}
.dropArea{
  /* drop area will be moved to bottom, match width of screen */
  fill: #F5B041;
  stroke-width:0;
  stroke: none;
}
.tab-block{
  fill: #F5B041;
  stroke: #1B5E20;
  stroke-width:2;
  z-index: 500;
}
.tab-text{
  width: 40px;
  height: 25px;
  font-size:24px;
  fill: black;
  font-family:"helvetica";
  pointer-events: none;
  z-index: 501;
}
@keyframes selectionFadeIn {
    from{opacity:0.0;}
    to{opacity:1.0;}
}
.selection-rect {
  fill: #B3E5FC;
  stroke-width: 4;
  stroke: #1E88E5;
  animation: selectionFadeIn 0.3s ease;
}
.selectedBlock {
  transition: stroke 0.3s ease;
  stroke-width: 4;
  stroke: #1E88E5;
}
.function-block {
/*  fill:#90CAF9; */
  fill: #3372FF;
/*  transition: fill 0.3s ease; */
  stroke-width: 4;
  stroke: #5A33FF;
  transition: stroke 0.3s ease;
}
.function-block-dragging {
  fill: green;
/*  transition: fill 0.3s ease;     */
/*  filter: url(#dropshadow); */
  stroke-width: 4;
  stroke: #5A33FF;
}
.flow-path {
  fill: none;
  stroke-width: 4;
  stroke: #5A33FF;
  stroke-linejoin: round;
  stroke-linecap: round;
  /* stroke-dasharray: 8, 3.5; */
}
.block-stencil {
  fill: none;
  stroke-width: 2.5;
  stroke: #FFB74D;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.block-stencil-fill {
  stroke-width: 2;
  stroke: #FFB74D;
  fill: #FFB74D;
  stroke-linejoin: round;
}
.block-stencil-fill-back {
  fill: #81C784;
  opacity: .5;
  stroke-linejoin: round;
}
.block-sensor-stencil {
  fill: none;
  stroke-width: 1.5;
  stroke: #FFB74D;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.block-sensor-stencil-value {
  fill: #33FF33;
  stroke-width: 0;
  stroke: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.block-identity-text {
  /* For name of connected device */
  font-family: "helvetica";
  text-align: center;
  font-size: 16px;
  fill: #FFB74D;
}
.block-picture-board {
  fill: #332222;
}
.block-picture-led-off {
  fill: #641E16;
}
.block-picture-led-on {
  fill: #FF3366;
}
.block-bot-connecting {
  fill: #BA68C8;
}
.block-bot-connected {
  fill: #4CAF50;
}
.block-bot-visible {
  fill: #42A5F5;
}
.block-bot-not-found {
  fill: #FDD835;
}
.block-bot-connection-error {
  fill: #FF5722;
}
.block-micro-servo-body {
  stroke: #303F9F;
  fill: #0033FF;
  stroke-width: 2;
}
.block-motor-body {
  fill: #777777;
  stroke: #FFB74D;
  stroke-width: 2;
  stroke-dasharray: 4, 5;
}
.block-motor-shaft {
  fill: #202020;
}
.block-config-form {
  /* setting dialogs */
  background-color: #C8E6C9;
  border-radius: 10px;
  box-sizing:border-box;
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.2);
  font-family:"helvetica";
  font-size:20px;
  touch-action: none; /* prevents any screen bounce on android */
}
.block-sound-piano-w {
  fill: #FFFDE7;
}
.block-sound-piano-w-pressed{
  fill: #FFE082;
}
.block-sound-piano-b {
  fill: #212121;
}
.block-sound-piano-b-pressed{
  fill: #616161;
}
.block-sound-piano {
  fill: #3E2723;
  stroke: #3E2723;
  stroke-width: 2px;
}
/* Buttons for the bock config edit operations run, copy, delete */
.block-settings-editops {
  padding:2px;
}
.block-settings-editops button {
  margin:2px;
  width:31.6%;
  font-size:20px;
  border: 2px solid #81C784;
  border-radius: 6px;
  background-color: #81C784;
  user-select: none;
  outline: none;
}
.block-settings-editops button:active {
  background-color: #4CAF50;
}
/* Controller settings for the block. */
#block-settings-custom {
  /* Ensure rom on left and right */
  margin: 0px 5px 0px 5px;
  /* All editors should be the same height */
  height: 175px;
}
.editorDiv{
  text-align:center;
}
/* Block controllers is a row of tab-like buttons on the edge of the config panel */
.block-settings-tab {
  text-align: center;
  font-size: 24px;
  height: 36px;
  margin: 5px 0px 0px 0px;
  border: 0px solid #81C784;
  background-color: #81C784;
  user-select: none;
  outline: none;
}
.tab-selected {
  background-color: #C8E6C9;
  border: 0px solid #C8E6C9;
}
/* Use this class for SVG elements that do not directly interact with the pointer */
.svg-clear {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
}
.function-text {
  width: 80px;
  height: 80px;
  font-size:22px;
  font-weight: bold;
  fill: #D6E2FE;
  font-family:"helvetica";
  pointer-events: none;
  stroke-width: 0;
}
@keyframes shadowFadeIn {
    from{opacity:0.0;}
    to{opacity:0.4;}
}
@keyframes outShadowFadeIn {
    from{opacity:0.0;}
    to{opacity:0.15;}
}
.shadow-block {
  opacity:0.4;
  fill: #skyBlue;;
  animation: shadowFadeIn 0.35s ease;
}
.shadow-block-outsnap {
  opacity:0.15;
  fill: #skyBlue;;
  animation: outShadowFadeIn 0.35s ease;
}
@keyframes shadowFadeOut {
    from{opacity:0.4;}
    to{opacity:0.0;}
}
@keyframes outShadowFadeOut {
    from{opacity:0.15;}
    to{opacity:0.0;}
}
.shadow-block-leave {
  opacity:0.0;
  fill: #skyBlue;
  animation: shadowFadeOut 0.35s ease;
}
.shadow-block-leave-outsnap {
  opacity:0.0;
  fill: #skyBlue;
  animation: outShadowFadeOut 0.35s ease;
}
button {
  touch-action: none; /* prevents any screen bounce on android */
}
textarea {
  touch-action: none; /* prevents any screen bounce on android */
}
body {
  margin: 0;
}
.palette-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 15px;
  width: 82px;
  height: 82px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}
.palette-button:active {
  background-color: #1E8449;
}
label {
  margin: 15
  cursor: pointer;
  /* prevent selecting text in control captions */
  -webkit-user-select: none;
  user-select: none;
}
label input[type="checkbox"] {
  display: none;
}
label input[type="checkbox"] + .label-text:before {
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size:25px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  animation: toUnchecked 200ms ease-in;
}
label input[type="checkbox"]:checked + .label-text:before {
  content: "\f046";
  color: #06a3e9;
  animation: toChecked 200ms ease-in;
}
label input[type="checkbox"]:disabled + .label-text {
  color: #aaa;
}
label input[type="checkbox"]:disabled + .label-text:before {
  content: "f096";  /* square-o */
  color: #ccc;
}
@keyframes toUnchecked {
  0% {transform: scale(0.9);}
  60% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes toChecked {
  0% {transform: scale(0.9);}
  60% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
/* teak form is for system wide dialogs that slide in from the top */
.pulldown {
  width:14em;
  transition: transform .4s ease;
}
.pulldown.opened {
  width:14em;
  transform: translate(0, 0%);
}
.pulldown.closed {
  transform: translate(0, -120%);
}
.teakform {
  /* setting dialogs */
  background-color: #75DCE7;
  border-radius: 10px;
  box-sizing:border-box;
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.2);
  font-family:"helvetica";
  color:#33691E;
  font-size:20px;
  padding:20px;
  touch-action: none; /* prevents any screen bounce on android */
}
.teakform button {
  border: 2px solid #06a3e9;
  border-radius: 4px;
  background-color: #75DCE7;
  user-select: none;
}
.teakform button:active {
  outline: none;
}
.list-box-shell {
  font-family: "helvetica";
  height:97%;
  border-radius: 6px;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 5px;
  /* margin-right: -1px; */
  border: 3px solid #81C784;
  background-color: #C8E6C9;
  color: #33691E;
  font-size: 30px;
  user-select: none;
  display:block;
  overflow:scroll;
}
.list-item-selected {
  background-color: #81C784;
  color: #33691E;
}
.list-box {
  margin: 0px;
  list-style: none;
  padding-left: 0px;
}
.calcButtons{
  fill: #81C784;
  stroke: #1B5E20;
  stroke-width:2;
}
.beatsButtons{
  fill: #81C784;
  stroke: #1B5E20;
  stroke-width:2;
}
/* actton dot are 'bottons' along the top of the canvas */
.action-dot {
  transition: fill 0.2s ease;
  fill: #F6DDCC;
}
.action-dot-underlay{
  transition: fill 0.2s ease;
  fill: #F2CDB5;
}
.action-dot-rect-pages{
  fill: #F2CDB5;
  height: 400px;
  -webkit-animation: outpages 0.4s ease; /* Safari 4.0 - 8.0 */
  animation: outpages 0.4s ease;
}
@-webkit-keyframes outpages {
  from   {height:0px;}
  to {height:400px;}
}

/* Standard syntax */
@keyframes outpages {
  from   {height:0px;}
  to {height:400px;}
}
.action-dot-rect-remove-pages{
  fill: #F2CDB5;
  height: 0px;
  -webkit-animation: inpages 0.45s ease; /* Safari 4.0 - 8.0 */
  animation: inpages 0.45s ease;
}
@-webkit-keyframes inpages {
  from  {height:400px;}
  to {height:0px;}
}

/* Standard syntax */
@keyframes inpages {
  from   {height:400px;}
  to {height:0px;}
}

.action-dot-rect-edit{
  fill: #F2CDB5;
  height: 240px;
  -webkit-animation: outedit 0.45s ease; /* Safari 4.0 - 8.0 */
  animation: outedit 0.45s ease;
}
@-webkit-keyframes outedit {
  from   {height:0px;}
  to {height:240px;}
}

/* Standard syntax */
@keyframes outedit {
  from   {height:0px;}
  to {height:240px;}
}
.action-dot-rect-remove-edit{
  fill: #F2CDB5;
  height: 0px;
  -webkit-animation: inedit 0.45s ease; /* Safari 4.0 - 8.0 */
  animation: inedit 0.45s ease;
}
@-webkit-keyframes inedit {
  from   {height:240px;}
  to {height:0px;}
}

/* Standard syntax */
@keyframes inedit {
  from {height:240px;}
  to   {height:0px;}
}
.action-dot.switch-bg {
  /*fill: #4DD0E1; */
  fill: #B3E5FC;
}
.action-dot-text {
  fill: #FF7043;
  font-family: FontAwesome;
  font-size: 36px;
  text-anchor: middle;
  pointer-events: none;
}
.action-dot-doc-label {
  fill: #FF7043;
  font-family: "helvetica";
  font-size: 24px;
  text-anchor: middle;
  pointer-events: none;
}
.slider {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #81C784;
  border-radius: 12.5px;
  margin-right: 25px;
  box-sizing: border-box;
  -ms-touch-action: none;
  touch-action: none;
}
/* the slider handle */
.slider:before {
  content: "";
  display: block;
  position: relative;

  /* make the thumb extend beyond the track */
  /* might mke one that is contained in the track */
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: green;
}
.error {
  color: red;
}
.numeric-display{
  width: 230px;
  height: 30px;
  border-radius: 8px;
  background-color: #c4c4c4;
  font-size: 24px;
}
.numeric-display-half{
  display: inline-block;
  float:left;
  width: 110px;
  height: 30px;
  border-radius: 8px;
  background-color: #c4c4c4;
  font-size: 24px;
}
.beats-display{
  display: inline-block;
  float:left;
  margin-left:10px;
  width: 110px;
  height: 30px;
  border-radius: 8px;
  background-color: #c4c4c4;
  font-size: 24px;
}
.block-motor-text{
  font-family: 'FontAwesome', "helvetica";
  font-size:12px;
  stroke-width:0;
}
.block-motor-text-duration{
  font-family: 'FontAwesome', "helvetica";
  font-size:20px;
  stroke-width:0;
}
.block-wait-text{
  font-family: "helvetica";
  font-size:20px;
  stroke-width:0;
}
.block-twomotor-text{
  font-family: 'FontAwesome', "helvetica";
  font-size:14px;
  stroke-width:0;
}
.block-servo-text{
  font-family: "helvetica";
  font-size:20px;
  stroke-width:0;
}
.block-flowhead-loop{
  font-family: FontAwesome;
  font-size: 35px;
  fill: #FFB74D;
}
.block-flowhead-count{
  font-family: "helvetica";
  font-size:20px;
  stroke-width:0;
}
