html, body { margin:0; padding:0; overflow:hidden }
.teak-code {
  position: absolute;
  top:0;
  left:75%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.teak-log {
  position: absolute;
  top:0;
  left:50%;
  font-size:12px;
  font-family:"Monaco";
  width:25%;
  height: 100%;
  float:right;
  border: none;
  outline: none;
  overflow-y: scroll;
/*  opacity: 0.6; */
  background-color: rgba(0,0,1,0.05);
  background-blend-mode: multiply;
}
.editor-background {
  fill: #9575CD;
}
.editor-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  -ms-touch-action: none;
  touch-action: none;
  /* prevent text from being selected browser style */
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.branch-path {
  fill: green;
  transition: fill 0.3s ease;
  stroke-width: 2;
  stroke: lightgreen;
}
.dropArea{
  /* drop area will be moved to bottom, match width of screen */
  fill: #F5B041;
  stroke-width:0;
  stroke: none;
}
.tab-block{
  fill: #F5B041;
  stroke: #1B5E20;
  stroke-width:2;
  z-index: 500;
}
.tab-text{
  width: 40px;
  height: 25px;
  font-size:24px;
  fill: black;
  font-family:"helvetica";
  pointer-events: none;
  z-index: 501;
}
.function-block {
  fill: #3372FF;
/*  transition: fill 0.3s ease; */
  stroke-width: 4;
  stroke: #5A33FF;
}
.function-block-dragging {
  fill: green;
/*  transition: fill 0.3s ease;     */
/*  filter: url(#dropshadow); */
  stroke-width: 4;
  stroke: #5A33FF;
}
.loop-region {
  fill: none;
  stroke-width: 4;
  stroke: #5A33FF;
}
.block-stencil {
  fill: none;
  stroke-width: 2.5;
  stroke: #FFB74D;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.block-stencil-fill {
  stroke-width: 2;
  stroke: #FFB74D;
  fill: #FFB74D;
  stroke-linejoin: round;
}
.block-picture-board {
  fill: #332222;
}
.block-picture-led-off {
  fill: #641E16;
}
.block-picture-led-on {
  fill: #FF0033;
}
.block-micro-servo-body {
  stroke: #303F9F;
  fill: #0033FF;
  stroke-width: 2;
}
.block-motor-body {
  fill: #777777;
  stroke: #FFB74D;
  stroke-width: 2;
  stroke-dasharray: 4, 5;
}
.block-motor-shaft {
  fill: #202020;
}
.block-config-form {
  /* setting dialogs */
  background-color: #C8E6C9;
  border-radius: 10px;
  box-sizing:border-box;
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.2);
  font-family:"helvetica";
  font-size:20px;
  touch-action: none; /* prevents any screen bounce on android */
}
/* Buttons for the bock config edit operations run, copy, delete */
.block-settings-editops {
  padding:5px;
}
.block-settings-editops button {
  width:72.5px;
  font-size:20px;
  border: 2px solid #81C784;
  border-radius: 6px;
  background-color: #81C784;
  user-select: none;
  outline: none;
}
.block-settings-editops button:active {
  background-color: #4CAF50;
}
/* Controller settings for the block. */
#block-settings-custom {
  padding:10px;
}
#pictureEditorDiv {
  text-align:center;
}
/* Block controllers is a row of tab-like buttons on the edge of the config panel */
.block-settings-tab {
  text-align: center;
  font-size: 24px;
  height: 36px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #81C784;
  background-color: #81C784;
  user-select: none;
  outline: none;
}
.tab-selected {
  background-color: #C8E6C9;
  border: 1px solid #C8E6C9;
}
/* Use this class for SVG elements that do not directly interact with the pointer */
.svg-clear {
  pointer-events: none;
}
.function-text {
  width: 80px;
  height: 80px;
  font-size:22px;
  font-weight: bold;
  fill: #D6E2FE;
  font-family:"helvetica";
  pointer-events: none;
  stroke-width: 0;
}
@keyframes shadowFadeIn {
    from{opacity:0.0;}
    to{opacity:0.3;}
}
.shadow-block {
  opacity:0.3;
  fill:SkyBlue;
  animation: shadowFadeIn 0.35s ease;
}
@keyframes shadowFadeOut {
    from{opacity:0.3;}
    to{opacity:0.0;}
}
.shadow-block-leave {
  opacity:0.0;
  fill:SkyBlue;
  animation: shadowFadeOut 0.35s ease;
}
button {
  touch-action: none; /* prevents any screen bounce on android */
}
textarea {
  touch-action: none; /* prevents any screen bounce on android */
}
body {
  margin: 0;
}
.palette-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 15px;
  width: 70px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}
.palette-button:active {
  background-color: #1E8449;
}
label {
  margin: 15
  cursor: pointer;
  /* prevent selecting text in control captions */
  -webkit-user-select: none;
  user-select: none;
}
label input[type="checkbox"] {
  display: none;
}
label input[type="checkbox"] + .label-text:before {
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size:25px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  animation: toUnchecked 200ms ease-in;
}
label input[type="checkbox"]:checked + .label-text:before {
  content: "\f046";
  color: #06a3e9;
  animation: toChecked 200ms ease-in;
}
label input[type="checkbox"]:disabled + .label-text {
  color: #aaa;
}
label input[type="checkbox"]:disabled + .label-text:before {
  content: "f096";  /* square-o */
  color: #ccc;
}
@keyframes toUnchecked {
  0% {transform: scale(0.9);}
  60% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes toChecked {
  0% {transform: scale(0.9);}
  60% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
/* teak form is for system wide dialogs that slide in from the top */
.pulldown {
  width:14em;
  transition: transform .4s ease;
}
.pulldown.opened {
  width:14em;
  transform: translate(0, 0%);
}
.pulldown.closed {
  transform: translate(0, -120%);
}
.teakform {
  /* setting dialogs */
  background-color: #75DCE7;
  border-radius: 10px;
  box-sizing:border-box;
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.2);
  font-family:"helvetica";
  color:#33691E;
  font-size:20px;
  padding:20px;
  touch-action: none; /* prevents any screen bounce on android */
}
.teakform button {
  border: 2px solid #06a3e9;
  border-radius: 4px;
  background-color: #75DCE7;
    user-select: none;
}
.teakform button:active {
outline: none;
}
.scroll-div {
  width:100%;
  height:200px;
  overflow-y:scroll;
  box-shadow:  0px 0px 5px 3px rgba(73, 137, 144, 0.2);
}
.tf-table {
  list-style: none;
  list-style-position:inside;
  background-color: #BAEDF3;
}
