<?xml version='1.0' encoding='utf-8'?>
<widget id="co.trashbots.tblocks" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TBlocks</name>
    <description>
        A cool programmming tool.
    </description>
    <author email="info@trashbots.co" href="http://trashbots.co">
        TBlock team
    </author>
    <icon src="res/app-icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="WebViewBounce" value="false" />
    <preference name="Orientation" value="landscape" />
    <platform name="android">
        <preference name="Fullscreen" value="true" />
    </platform>
    <platform name="ios">
    </platform>
    <plugin name="cordova-plugin-ble" spec="1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-mobile-accessibility" spec="git+https://github.com/phonegap/phonegap-mobile-accessibility.git" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
