<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="113" id="co.trashbots.tblocks-builder" ios-CFBundleVersion="113" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TBlocks</name>
    <description>
        A programmming tool for the Trashbots robotics platform.
    </description>
    <author email="sidharth@trashbots.co" href="http://trashbots.co">
        TBlock team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="WebViewBounce" value="false" />
    <preference name="Orientation" value="landscape" />
    <platform name="android">
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/uses-permission" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </edit-config>
        <icon src="res/app-icon.png" />
        <splash src="res/ios/Default@2x~universal~anyany.png" />
        <preference name="Fullscreen" value="true" />
    </platform>
    <platform name="ios">
        <preference name="Fullscreen" value="true" />
        <preference name="BackupWebStorage" value="local" />
        <icon height="20" src="res/iOS/AppIcon.appiconset/TBlocksIcon-20.png" width="20" />
        <icon height="40" src="res/iOS/AppIcon.appiconset/TBlocksIcon-20@2x.png" width="40" />
        <icon height="60" src="res/iOS/AppIcon.appiconset/TBlocksIcon-20@3x.png" width="60" />
        <icon height="29" src="res/iOS/AppIcon.appiconset/TBlocksIcon-29.png" width="29" />
        <icon height="58" src="res/iOS/AppIcon.appiconset/TBlocksIcon-29@2x.png" width="58" />
        <icon height="87" src="res/iOS/AppIcon.appiconset/TBlocksIcon-29@3x.png" width="87" />
        <icon height="40" src="res/iOS/AppIcon.appiconset/TBlocksIcon-40.png" width="40" />
        <icon height="80" src="res/iOS/AppIcon.appiconset/TBlocksIcon-40@2x.png" width="80" />
        <icon height="120" src="res/iOS/AppIcon.appiconset/TBlocksIcon-40@3x.png" width="120" />
        <icon height="120" src="res/iOS/AppIcon.appiconset/TBlocksIcon-60@2x.png" width="120" />
        <icon height="180" src="res/iOS/AppIcon.appiconset/TBlocksIcon-60@3x.png" width="180" />
        <icon height="76" src="res/iOS/AppIcon.appiconset/TBlocksIcon-76.png" width="76" />
        <icon height="152" src="res/iOS/AppIcon.appiconset/TBlocksIcon-76@2x.png" width="152" />
        <icon height="167" src="res/iOS/AppIcon.appiconset/TBlocksIcon-83.5@2x.png" width="167" />
        <icon height="1024" src="res/iOS/AppIcon.appiconset/TBlocksIcon-1024.png" width="1024" />
        <icon height="48" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-24@2x.png" width="48" />
        <icon height="72" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-24@3x.png" width="72" />
        <icon height="55" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-27.5@2x.png" width="55" />
        <icon height="80" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-40@2x.png" width="80" />
        <icon height="88" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-44@2x.png" width="88" />
        <icon height="100" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-50@2x.png" width="100" />
        <icon height="196" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-98@2x.png" width="196" />
        <icon height="172" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-86@2x.png" width="172" />
        <icon height="216" src="res/watchOS/AppIcon.appiconset/TBlocksIcon-108@2x.png" width="216" />
        <splash height="1125" src="res/ios/TBlocksSplash-Landscape.png" />
        <splash height="2436" src="res/ios/TBlocksSplash-Portrait.png" />
        <splash src="res/ios/Default@2x~universal~anyany.png" />
        <splash src="res/ios/Default@2x~universal~comany.png" />
        <splash src="res/ios/Default@2x~universal~anycom.png" />
        <splash src="res/ios/Default@2x~universal~comcom.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-mobile-accessibility" spec="git+https://github.com/phonegap/phonegap-mobile-accessibility.git" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <engine name="osx" spec="^4.0.2" />
</widget>
