<?xml version='1.0' encoding='utf-8'?>
<widget id="org.trashbots.teakblocks" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Teak Blocks</name>
    <description>
        A block editor for Trasbots.
    </description>
    <author email="paul@trashbots.org" href="http://trashbots.org">
        Paul Austin
    </author>
    <icon src="res/app-icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="WebViewBounce" value="false" />
    <preference name="Orientation" value="landscape" />
    <platform name="android">
        <preference name="Fullscreen" value="true" />
    </platform>
    <platform name="ios">
    </platform>
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-ble" spec="1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
