.editor-canvas {
  background-color: white;
}
.function-block {
/*  fill: #0066FF; */
  fill: #795548;
  stroke-width: 4;
  stroke: #873600;
  transition: stroke 0.3s ease;
}
.identity-block {
  fill: #492f27;
}
.running-block{
  stroke-width: 4;
  stroke: #3300ff;
}
.function-block-dragging {
  fill: #795548;
  stroke-width: 4;
  stroke: #4E342E;
}
.function-text {
  fill: #D6E2FE;
}
.flow-path {
  stroke: #873600;
}
.shadow-block {
  fill:#43A047;
}
.shadow-block-leave {
  fill:#43A047;
}
.selectedBlock {
  transition: stroke 0.3s ease;
  stroke-width: 4;
  stroke: #1E88E5;
}
.commented{
  fill: #878787;
}
